### Python ###
# Виртуальные окружения
.venv/

# Кэш и скомпилированные файлы
__pycache__/
*.py[cod]
*.egg-info/

### Конфиги и секреты ###
.env

### Логи и временные файлы ###
*.log
*.tmp

### Данные ###
# Правила для папки data/
data/raw/*
!data/raw/.gitkeep

### IDE ###
.vscode/

### Локальные файлы ###
terminal_out.txt